/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #ffff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: left 0.3s ease;
  z-index: 1000;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.sidebar.open {
  left: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 20px 0;
  padding: 10px;
}

.sidebar a {
  text-decoration: none;
  color: black;
  font-size: large;
  font-family: var(--font-primary);
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 999;
}
.sidebar img {
  width: 100%;
  box-sizing: border-box;
}
