:root {
  --color-primary: #ffce1a;
  --color-secondary: #00A82;
  --color-background: #f3f3f3;
  --color-favorite: #ff5842;
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Nunito Sans", sans-serif;
}
