.passwordChange__overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.passwordChange__content {
    background-color: #fff;
    padding: 3rem;
    border-radius: 5px;
    width: 40rem;
}

.passwordChange__title > h2 {
    margin-top: 0;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

.passwordChange__form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.passwordChange__item > h4 {
    color: #A86523;
    font-size: 2rem;
    margin: 0;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.passwordChange__item > input {
    border: none;
    border-bottom: #999 1px solid;
    outline: none;
    width: 90%;
    font-size: 1.7rem;
    padding-bottom: 0.5rem;
}

.passwordChange__item {
    margin-bottom: 1.5rem;
}

.passwordChange__submit {
    background-color: #A86523;
    color: #ffff;
    width: 15rem;
    align-self: flex-end;
    font-size: 1.7rem;
    padding: 1rem 0rem;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.passwordChange__abort {
    color: red;
    min-height: 1.5rem;
}