.Body {
    width: 100%;
    box-sizing: border-box;
    display: flex;
}

.content {
    flex-basis: 77%;
}

.content__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;

}