.header__mobile{
    width: 100%;
    margin: auto;
}
.header__mobile--nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}
.header__mobile--bar--icon {
    color: black;
    font-size: 1.5rem;
    margin: 2rem 0;
}
.header__mobile--input{
    background-color: #EAEAEA;
    width: 100%;
    padding:1rem 0;
    border-radius: 8px;
    border: none;
    margin-left: 1.5rem;
    margin-top: 1.2rem;
    font-size: medium;

}
.header__mobile--left{
    display:flex;
    justify-content: center;
    align-self: center;
}
.header__mobile--search{
    position: relative;
}
.header__mobile--search--icon {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 2rem; 
    transform: translateY(-50%);
    font-size: 1.5rem;
  }
  