html {
    font-size: 62.5%;
}

.bookInfor {
    margin: 1rem;
    background-color: #ffffff;
    display: flex;
    padding: 2rem;
    width: 45%;
    height: 40rem;
    border-radius: 8px;

    z-index: 10000;      /* để nổi trên overlay */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* tùy chọn: hiệu ứng nổi */
}

.bookInfor__img > img {
    width: 100%;
    object-fit: cover;
}

.bookInfor__img {
    flex-basis: 45%;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
}

.bookInfor__des {
    flex-basis: 55%;
    margin-left: 3rem;
    position: relative;
}

.bookInfor__title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #A86523;
}

.bookInfor__description {
    font-size: 1.3rem;
}

.bookInfor__category {
    margin-top: 1rem;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    font-weight: 200;
}

.bookInfor__author {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    font-weight: 200;
}

.bookInfor__publishYear {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    font-weight: 200;
}
.Cross {
    width: 100%;
    height: 1px;
    background-color: #000000;
    bottom: 50%;
    margin-bottom: 3rem;
}

.bookInfor__price {
    color: #A86523;
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    bottom: 10%;
    right: 0%;
}

.bookInfor__borrow {
    background-color: #A86523;
    border: none;
    color: #ffffff;
    padding: 0.8rem 2.4rem;
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    border-radius: 5px;
    bottom: 0%;
    right: 0%;
}

.bookInfor__isbn {
    color: #999999;
    margin-bottom: 0.5rem;
}
